keboola.component==1.4.3
keboola.utils
git+https://github.com/keboola/python-http-client.git@feature/async
keboola.csvwriter
mock
freezegun
dataconf
aiolimiter # not included yet in async client
certifi==2024.7.4